body{
    text-align: center;
    font-size: 25px;
}
h1{
    color: lightblue
}

p{
    color: white
}

p {
    text-decoration: underline;
    -webkit-text-decoration-color: red;
    text-decoration-color: black;
  }

  h1{
    text-decoration: underline;
    -webkit-text-decoration-color: red;
    text-decoration-color: white;
  }

  

  